{% render 'partials/head.liquid', title: 'FDND Profile Filtered' %}

<main>

    <h2> {{ person.name }} </h2>

    <p>{{ person.name }}</p>
    <p>{{ person.nickname }} </p>
    <p>{{ person.fav_country  }} </p>
    <p>{{ person.fav_coffee  }} </p>
    <p>{{ person.fav_hobby  }} </p>
    <p>{{ person.fav_animal  }} </p>
    <p>{{ person.color  }} </p>
    <p>{{ person.kitchen  }} </p>
    <p>{{ person.book_genre  }} </p>
    <p>{{ person.ernergy  }} </p>
    <p>{{ person.emoji  }} </p>

    
    <h2>Huidige berichten</h2>

    {% for message in messages %}
      <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
    {% else %}
      <p>Er zijn nog geen berichten voor dit team.</p>
    {% endfor %}
  
    <h2>Voeg een bericht toe</h2>
    <form method="post" action="/">
      <label>
        Naam:
        <input type="text" name="from" required>
      </label>
      <label>
        Bericht:
        <textarea name="text" required></textarea>
      </label>
      <button type="submit">Verstuur</button>
    </form>

</main>

{% render 'partials/foot.liquid'%}