{% render 'partials/head.liquid', title: 'FDND Profile Filtered' %}

<main>

    <h2> {{ person.name }} </h2>

    <p>{{ person.name }}</p>
    <p>{{ person.nickname }} </p>
    <p>{{ person.fav_country  }} </p>
    <p>{{ person.fav_coffee  }} </p>
    <p>{{ person.fav_hobby  }} </p>
    <p>{{ person.fav_animal  }} </p>
    <p>{{ person.color  }} </p>
    <p>{{ person.kitchen  }} </p>
    <p>{{ person.book_genre  }} </p>
    <p>{{ person.ernergy  }} </p>
    <p>{{ person.emoji  }} </p>

    
    <h2>Huidige berichten</h2>

    {% for message in messages %}
      <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
    {% else %}
      <p>Er zijn nog geen berichten voor dit team.</p>
    {% endfor %}
  
    <h2>Voeg een bericht toe</h2>
    <form method="post" action="/">
      <label>
        Naam:
        <input type="text" name="from" required>
      </label>
      <label>
        Bericht:
        <textarea name="text" required></textarea>
      </label>
      <button type="submit">Verstuur</button>
    </form>

    <section class="profile-card">
      <div class="geboortedatum">
        <p> {{ person.birthdate | date: "%d-%m-%Y"}}</p>
      </div>
      <div class="vind-ik-leuk">
       
        <div class="hartje"></div>
        <p class="tekst">Vind ik leuk</p>
      </div>
      <div class="gezicht"></div>
      <div class="lichaam"></div>
    </section>

    <section>
      <div class="h1-div">
        <h1 class="h1">Hobby</h1>
      </div>
      <article class="article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui cum natus totam assumenda velit reiciendis voluptas omnis animi autem ipsa atque, quasi deserunt fuga illum obcaecati mollitia itaque et.</p>
      </article>

      <div class="h1-div">
        <h1 class="h1">Hobby</h1>
      </div>
      <article class="article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui cum natus totam assumenda velit reiciendis voluptas omnis animi autem ipsa atque, quasi deserunt fuga illum obcaecati mollitia itaque et.</p>
      </article>

      <div class="h1-div">
        <h1 class="h1">Hobby</h1>
      </div>
      <article class="article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui cum natus totam assumenda velit reiciendis voluptas omnis animi autem ipsa atque, quasi deserunt fuga illum obcaecati mollitia itaque et.</p>
      </article>

    </section>

</main>

{% render 'partials/foot.liquid'%}